# Database
DATABASE_NAME=one9data
DATABASE_USER=one9user
DATABASE_PASSWORD=your_password
DATABASE_HOST=your_host
DATABASE_PORT=5432

# Django
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# OpenAI API
OPENAI_API_KEY=your_openai_api_key

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_REGION_NAME=ap-south-1

# AWS SES Configuration
AWS_SES_REGION_NAME=ap-south-1
DEFAULT_FROM_EMAIL=noreply@one9founders.com
